node_modules/
dev/node_modules/
dev/package-lock.json
dev/hyparquet.esm.js
dev/fixtures/wt/
*.png.tmp
dev/zarrita.esm.js
dev/fixtures/zarr4d/
dev/fixtures/refs/
dev/hyparquet-compressors.esm.js
dev/fixtures/scan-items.json
